<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Team 01">
    <listeners>
        <listener class-name="team01_AlloverCommerceTestNG.utilities.ExtentReportsListener"></listener>
    </listeners>

    <test name="US11-">
        <classes>
            <class name="team01_AlloverCommerceTestNG.tests.us11.US11_VendorSignIn">
                <methods>
                    <include name="tc01a"/>
                    <include name="tc01b"/>
                    <include name="tc02"/>
                    <include name="tc03"/>
                    <include name="tc04"/>
                    <include name="tc05"/>
                    <include name="tc06"/>
                    <include name="tc08a"/>
                    <include name="tc08b"/>
                    <include name="tc09"/>
                    <include name="tc10"/>
                    <include name="tc11"/>
                    <include name="tc12"/>
                    <include name="tc14"/>
                    <include name="tc15"/>
                    <include name="tc16"/>
                    <include name="tc17"/>
                    <include name="tc18"/>
                    <include name="tc19a"/>
                    <include name="tc19b"/>
                    <include name="tc20"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>